:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  /* background-image: radial-gradient(
    circle at top center,
    rgba(3, 57, 108, 1) 87%,
    rgba(0, 91, 150, 1) 56%,
    rgba(179, 205, 224, 1) 0%
  ); */
  /* background-color: #a7bdcc; */
  background-color: rgb(47, 53, 65);
  /* background-color: rgb(121, 143, 182); */
  /* background-image: url("./assets/vecteezy_blue-abstract-background-blue-background-design-abstract_17023139.jpg"); */
  background-position: top center;
  /* background-size: cover;
  background-repeat: no-repeat; */
}
